<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="6.0"
	xmlns="https://jakarta.ee/xml/ns/jakartaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
	<display-name>EazyDeals</display-name>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<error-page>
		<error-code>404</error-code>
		<location>/error_page.jsp</location>
	</error-page>
	<servlet>
		<description />
		<display-name>DatabaseConnection</display-name>
		<servlet-name>DatabaseConnection</servlet-name>
		<servlet-class>com.shop.util.DatabaseConnection</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DatabaseConnection</servlet-name>
		<url-pattern>/DatabaseConnection</url-pattern>
	</servlet-mapping>
	<servlet>
		<description />
		<display-name>RegisterController</display-name>
		<servlet-name>RegisterController</servlet-name>
		<servlet-class>com.shop.controller.RegisterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterController</servlet-name>
		<url-pattern>/RegisterController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description />
		<display-name>LoginController</display-name>
		<servlet-name>LoginController</servlet-name>
		<servlet-class>com.shop.controller.LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginController</servlet-name>
		<url-pattern>/LoginController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description />
		<display-name>LogoutController</display-name>
		<servlet-name>LogoutController</servlet-name>
		<servlet-class>com.shop.controller.LogoutController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LogoutController</servlet-name>
		<url-pattern>/LogoutController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description />
		<display-name>UpdateUserController</display-name>
		<servlet-name>UpdateUserController</servlet-name>
		<servlet-class>com.shop.controller.UpdateUserController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateUserController</servlet-name>
		<url-pattern>/UpdateUserController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description />
		<display-name>AddressController</display-name>
		<servlet-name>AddressController</servlet-name>
		<servlet-class>com.eazydeals.servlets.AddressController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddressController</servlet-name>
		<url-pattern>/AddressController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description />
		<display-name>RemoveAddressController</display-name>
		<servlet-name>RemoveAddressController</servlet-name>
		<servlet-class>com.eazydeals.servlets.RemoveAddressController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveAddressController</servlet-name>
		<url-pattern>/RemoveAddressController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description />
		<display-name>AddOperationController</display-name>
		<servlet-name>AddOperationController</servlet-name>
		<servlet-class>com.shop.controller.AddOperationController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddOperationController</servlet-name>
		<url-pattern>/AddOperationController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description />
		<display-name>AddToCartController</display-name>
		<servlet-name>AddToCartController</servlet-name>
		<servlet-class>com.shop.controller.AddToCartController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddToCartController</servlet-name>
		<url-pattern>/AddToCartController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description />
		<display-name>CartOperationController</display-name>
		<servlet-name>CartOperationController</servlet-name>
		<servlet-class>com.shop.controller.CartOperationController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CartOperationController</servlet-name>
		<url-pattern>/CartOperationController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description />
		<display-name>WishlistController</display-name>
		<servlet-name>WishlistController</servlet-name>
		<servlet-class>com.shop.controller.WishlistController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WishlistController</servlet-name>
		<url-pattern>/WishlistController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description />
		<display-name>AdminLoginController</display-name>
		<servlet-name>AdminLoginController</servlet-name>
		<servlet-class>com.shop.controller.AdminLoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminLoginController</servlet-name>
		<url-pattern>/AdminLoginController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description />
		<display-name>OrderOperationController</display-name>
		<servlet-name>OrderOperationController</servlet-name>
		<servlet-class>com.shop.controller.OrderOperationController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>OrderOperationController</servlet-name>
		<url-pattern>/OrderOperationController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description />
		<display-name>UpdateOrderController</display-name>
		<servlet-name>UpdateOrderController</servlet-name>
		<servlet-class>com.shop.controller.UpdateOrderController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateOrderController</servlet-name>
		<url-pattern>/UpdateOrderController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description />
		<display-name>AdminController</display-name>
		<servlet-name>AdminController</servlet-name>
		<servlet-class>com.shop.controller.AdminController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminController</servlet-name>
		<url-pattern>/AdminController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description />
		<display-name>ChangePasswordController</display-name>
		<servlet-name>ChangePasswordController</servlet-name>
		<servlet-class>com.shop.controller.ChangePasswordController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ChangePasswordController</servlet-name>
		<url-pattern>/ChangePasswordController</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>org.sitemesh.config.ConfigurableSiteMeshFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
